.button-container {
    width: 150px;
    height: auto;
    float: left;
    border: 1px solid rgb(5, 4, 4);
}

.pharoh-button {
    width: 48px;
    height: 48px;
    margin: 0 0 0px 0px;
    float: left;
    display: block;
    border: 1px solid rgb(5, 4, 0);
    overflow: hidden;
    cursor: pointer;
}

img.title {
    width: 150px;
    max-height: 80px;
}

img.btn {
    width: 48px;
    height: 48px;

}
#goals-box {
    width:144px;
    height:70px;
    background-color:rgb(206, 235, 164);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(5, 4, 4);
    padding: 3px;
}
#SplashScreen {
    height: 300;
    width: 100%;
}

#SplashScreen img {
    display: block;
}
#SplashScreen input{
    display: block;
    left: 446px;
    top: 255px;
    position: fixed;
}
#Game-Information {
    width:200px;
    height:200px;
    left: 300px;
    top: 250px;
    position: fixed;
    background-color:rgb(206, 235, 164);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 5px solid rgb(5, 4, 4);
    
}


.game-container {
    max-height: 500px;
    display: none;
}

.pharoh-image-display {
    width: 150px;
    max-height: 80px;

}

#gameWorld {
    float: left;
}

.selected {
    background-color: lightsalmon;
}

.selected img {
    opacity: 0.5;
}

.GameUI {
    padding: 5px;
    height: 690px;
    width: 150px;
    border: 1px solid rgb(5, 4, 4);
    background-image: url("./img/Background3.jpg");
    float: left;
}

.button-pane img {
    width: 150px;
    height: 70px;
    border: 1px solid rgb(5, 4, 4);
    margin-bottom: 5px;
    margin-top: 5px;
    float: left;
}

.stats-box {
    width: 144px;
    height: 80px;
    border: 1px solid rgb(5, 4, 4);
    margin-top: 5px;
    background-color: rgb(243, 172, 125);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding: 2px;
}

.options {
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(243, 172, 125);
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid rgb(5, 4, 4);
}

select option {
    background: rgba(245, 101, 5, 0.3);
    color: rgb(24, 20, 18);
    text-shadow: 0 1px 0 rgba(248, 8, 8, 0.4);
    float: left;
}

.gameinfo-box {
    width: 150px;
    height: 80px;
    border: 1px solid rgb(5, 4, 4);
 
    margin-top: 5px;
    background-color: rgb(243, 172, 125);
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
#current-msg{
    display: inline;
    padding: 2px;
    margin: 0 auto;
}

.menu-button-container {
    width: 150px;
    height: auto;
    float: left;
    border: 1px solid rgb(5, 4, 4);
}

label {
    font-weight: bold
}

#toStringStats {
    text-align:left;
    font-size:11px;
    margin-top: 0;
    white-space: pre-wrap;
}
#info-bar {
    width:962px;
    height: 35px;
    background-image: url("./img/backgr3.jpg");
    border: 1px solid rgb(5, 4, 4);
    left: 1px;
    top: 710px;
    position: fixed;
    margin-left: 7px;
    font-size:12px;
}
#ingame {
    height: 30px;
    padding: 5px;
    margin: auto;
    display: inline-block;
    font-size:12px;
}

#part1 {
    padding-top: 1px;
    display: inline-block;
    width:150px;
    height:18px; 
    overflow: hidden;
    background: rgb(240, 207, 163);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(5, 4, 4);
    margin-left: 5px;
    text-align:center;

}

#part2 {
    padding-top: 1px;
    display: inline-block;
    width:100px;
    height:18px; 
    overflow: hidden;
    background: rgb(240, 207, 163);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(5, 4, 4);
    margin-left: 5px;
    text-align:center;
}

#part3 {
    padding-top: 1px;
    display: inline-block;
    width:350px;
    height:18px; 
    overflow: hidden;
    background: rgb(240, 207, 163);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(5, 4, 4);
    margin-left: 5px;
    text-align:center;
}

#part4 {
    padding-top: 1px;
    display: inline-block;
    width:60px; 
    overflow: hidden;
    background: rgb(240, 207, 163);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(5, 4, 4);
    margin-left: 5px;
    height: 18px;
    text-align:center;
}

#StartButton {
    cursor: pointer;
}

#current-funds {
    display: inline;
}

#drag {
    display:inline;
}

#cost-of-selected {
    display:inline;
}

.vertical {
    display: inline;
    margin: 0;
}
#selectId {
    cursor: pointer;
}